@import url('bootstrap.min.css');
@import url('fontawesome.min.css');
@import url('main.css');
@import url('sliderPro.css');
@import url('owl-carousel.css');
@import url('flaticon.css');
@import url('animated.css');


.footeer{
    position: absolute;
    bottom: 0;
    width:100%;
}


